# virtualenv directories
bin/
include/
lib/
local/

# Django static files
static/
admin/

# templates
example/scheducal/templates

# database
*.sqlite3

# compiled python
*.pyc

# swap files
*.swp

# Linked Folders
example/faculty_request
example/Inventory_Management
example/tokenauth
